

.wrapper .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px;
}

.wrapper .column {
    padding: 10px;
}

.wrapper .column_img {
    overflow: hidden;
}

.wrapper .column_img img {
    height: 400px;
    width: 100%;
    max-width: 650px;
    object-fit: cover;
}

.wrapper .column_text {
    display: flex;
    padding-right: 100px;
    min-height: 400px;
    max-width: 800px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-self: flex-start;
}

.wrapper .column_text h4 {
    padding: 10px 0 10px 0;
    font-size: 30pt;
}

.wrapper .column_text p {
    padding: 20px 0 20px 0;
    font-size: 13pt;
}

.wrapper .column_text .transperent {
    background: transparent;
}

.wrapper .column_text .btn_course_start {
    margin-bottom: 20px;
    padding: 10px 20px;
    color: #0468ff;
    border: 1px solid #0468ff;
    background: transparent;
    font-size: 13pt;
    transition: all 400ms;
}

.wrapper .column_text .btn_course_start:hover {
    color: white;
    border-color: white;
    background-color: #0468ff;
}


@media screen and (max-width: 900px) {
    .wrapper .row {
        flex-direction: column;
        margin: 0 40px;
    }
    .wrapper .row .column_img {
        order: 1;
    }
    .wrapper .row .column_text {
        order: 2;
        min-height: 250px;
        padding-right: 0;
    }
}
